@import url("https://fonts.cdnfonts.com/css/source-sans-pro");
@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");

.top {
  width: 100%;
  height: 110px;
}
.home-title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 35px;
  text-align: center;
  padding: 1rem;
}
.button-container {
 margin-top: 23rem;
}
.new-card-btn {
  display: inline-flex;
  align-items: center; 
  justify-content: center; 
  font-family: "Source Sans Pro", sans-serif;
  width: 382px;
  height: 80px;
  font-weight: 700;
  font-size: 22px;
  color: black;
  border: solid 1px black;
  border-radius: 10px;
  margin-left: 1rem;
  text-decoration: none; 
}
